.body {
  /* color: #156963; */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.body::-webkit-scrollbar {
  width: 0;
}

.body-hide-scroll {
  overflow: hidden;
}

/* ---------------------------------------------header--------------------------------------------- */
.header {
  border-bottom: 1px solid #e0e0e0;
  /* background: pink; */
}
.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 60px;
}
.logo img {
  height: 100%;
}
.header-nav {
  background: lightgoldenrodyellow;
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.headder-button {
  background: lightgoldenrodyellow;
}

/* ---------------------------------------------main--------------------------------------------- */

.main {
  /* background: #1a6dff; */
}
.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}
.book-card {
  width: 220px;
  border: 1px solid transparent;
}
.book-card:hover {
  cursor: pointer;
  border: 1px solid #e0e0e0;
}
.book-img {
  display: block;
  height: 300px;
  margin: 0 auto;
}
.book-description {
  padding: 10px 5px;
}
.book-name {
  margin: 0 0 5px;
  text-decoration: solid;
  min-height: 40px;
}
.author {
  margin: 0 0 5px;
}
.publication {
  margin: 0 0 5px;
  overflow-wrap: break-word;
}
.prise {
  margin: 0 0 5px;
}
.button-block {
  display: flex;
  justify-content: center;
}

.add-to-bag-btn {
  background: #2199e8;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid #2199e8;
  background: #2199e8;
  border-radius: 4px;
  color: #fff;
}
.add-to-bag-btn:hover {
  background-color: #0e70b1;
  border-color: #0e70b1;
}
/* ---------------------------------------------footer--------------------------------------------- */

.footer {
  background: lightgreen;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

/* ---------------------------------------------popup--------------------------------------------- */

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-bg {
  position: absolute;
  background: #e0e0e0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.7;
}
.popup-container {
  border-radius: 10px;
  background: #fff;
  position: relative;
  padding: 10px;
  z-index: 3;
  min-height: 30vh;
  max-height: 444px;
  max-width: 60vw;
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.popup-close {
  content: "\00d7";
  position: absolute;
  right: 5px;
  top: 5px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  background: #fff;
  color: black;
  cursor: pointer;
  font-size: 1.5em;
}
.popup-close:hover {
  opacity: 1;
}
.popup-close:before,
.popup-close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 25px;
  width: 2px;
  background-color: #333;
}
.popup-close:before {
  transform: rotate(45deg);
}
.popup-close:after {
  transform: rotate(-45deg);
}
.popup-img {
  height: 100%;
}
.popup-text {
  padding: 30px 0;
}
.popup-heading {
  font-size: 2em;
  margin: 0 0 20px;
}
.popupdescription {
  max-width: 88%;
  font-size: 1em;
  line-height: 160%;
}

/* ---------------------------------------------bag-menu--------------------------------------------- */
.bag-wrapper {
  box-sizing: border-box;
  position: fixed;
  width: 63vw;
  top: 80px;
  left: 20222px;
  padding: 10px 1vw;
  border: 1px solid #e0e0e0;
  background: #fff;
  min-height: 200px;
  max-height: 86vh;
  z-index: 15;
  overflow-x: hidden;
  overflow-y: scroll;
}
.bag-wrapper::-webkit-scrollbar {
  width: 0;
}
.bag-wrapper-open {
  left: 35vw;
}
.bag-heading {
  display: grid;
  grid-template-columns: 3fr 1fr 0.7fr;
  padding: 20px 0;
  text-align: center;
}
.bag-books {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 1fr 0.7fr;
}
.in-bag-book {
  display: flex;
  height: 130px;
  margin: 10px;
  gap: 10px;
}
.in-bag-book-img {
  height: 100%;
}
.units {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book-price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.in-bag-book-name {
  line-height: 180%;
}
.btn {
  position: relative;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  background: #fff;
  cursor: pointer;
  border: 2px solid #2199e8;
}
.btn:after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 50%;
  background: #2199e8;
  top: 50%;
  left: 50%;
}

.plus:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2199e8;
  height: 50%;
  width: 4px;
}

.btn:hover:before,
.btn:hover:after {
  background: #fff;
  transition: 0.2s;
}

.btn:hover {
  background-color: #2199e8;
  transition: 0.2s;
}
.bag-botom-elements {
}
.bag-botom-element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 10px;
}
.bag-subtotal {
  background: lightcoral;
  user-select: none;
}
.bag-chechout {
  background: #2199e8;
  cursor: pointer;
  user-select: none;
}
.bag-chechout::hower {
  background: #0e70b1;
}

.bag-book-remove {
  content: "\00d7";
  position: absolute;
  right: 5px;
  top: 5px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  background: #fff;
  color: black;
  cursor: pointer;
  font-size: 1.5em;
}
.bag-book-remove:hover {
  opacity: 1;
}
.bag-book-remove:before,
.bag-book-remove:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 25px;
  width: 2px;
  background-color: #333;
}
.bag-book-remove:before {
  transform: rotate(45deg);
}
.bag-book-remove:after {
  transform: rotate(-45deg);
}

/* ---------------------------------------------checkout-menu--------------------------------------------- */

.checkout-wrapper {
  box-sizing: border-box;
  position: fixed;
  width: 99vw;
  top: 80px;
  left: 20222px;
  padding: 10px 1vw;
  border: 1px solid #e0e0e0;
  background: #fff;
  height: 100vh;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}
.checkout-wrapper::-webkit-scrollbar {
  width: 0;
}
.checkout-wrapper-open {
  left: 1vw;
  z-index: 15;
}
.checkout-content {
  display: flex;
}
.order-form {
  padding: 20px;
}
.order-input {
  width: 230px;
  margin: 5px 0 7px;
}

.order-input:invalid {
  border-right: lightcoral 6px solid;
  outline: 0;
}
.order-message {
  opacity: 0;
  color: lightcoral;
  margin: 0 0 13px;
}
.order-input:invalid + .order-message {
  opacity: 1;
}
.date-message {
  margin: 0 0 13px;
}

.order-form-submit {
  margin: 20px;
  width: 200px;
  height: 50px;
  border: 2px solid #9b51e0;
  border-radius: 25px;
  background: #9b51e0;
  color: #fff;
  outline: 0;
  cursor: pointer;
  font-size: 16px;
}

.order-form-submit:disabled {
  background: #af88d3;
  border: 2px solid #af88d3;
  cursor: not-allowed;
}
.payment-chouse-wrapper {
  display: flex;
  align-items: center;
}

.stiled-radio {
  cursor: pointer;
  appearance: none;
  border-radius: 50%;
  background: transparent;
  border: 6px solid transparent;
  outline: 3px solid #9b51e0;
  margin: 0 5px 0 25px;
}
.stiled-radio:checked {
  border: 6px solid #9b51e0;
  outline: 3px solid #9b51e0;
  background: #9b51e0;
}
.payment-chouse-wrapper label {
  font-size: 18px;
}
.payment-chouse-wrapper input[type="radio"]:checked + label {
  color: #9b51e0;
}
